<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section class="form pull-center text-center p-5">
      <div class="contaner-form">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 shadow text-muted p-3 mb-5 bg-white rounded">
            <form method='POST'>
              {% csrf_token %}
               {% if messages %}
              {{messages.tags}}
              {% for message in messages %}
              <i class="fas fa-exclamation-triangle text-danger"></i>{{message}}
              {% endfor %}
              {% endif %} 
              <div class="mb-3">
                <label for=" sampleInputEmail" class="form-label">Email</label>
                <input type="email" name='email' class="form-control" id="email" aria-describedby="emailHelp"/>
              </div>
              <div class="mb-3">
                <label for="sampleInputPassword" class="form-label">Password</label>
                <input type="password" name='pass' class="form-control"id="pass"/>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox"class="form-check-input"id="sampleCheck"/>
                <label class="form-check-label" for="sampleCheck">Remember me</label>
              </div>
              <button type="submit" class="btn btn-primary">Log in</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
